name: Build LaTeX PDF

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: latex-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_latex:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Compile LaTeX document (XeLaTeX)
        uses: xu-cheng/latex-action@v4
        with:
          root_file: main.tex
          latexmk_use_xelatex: true
          # Biar build konsisten (opsional)
          os: debian
          texlive_version: 2025

      - name: Upload PDF artifact
        uses: actions/upload-artifact@v6
        with:
          name: Artikel-JEBI-PDF
          path: main.pdf
          if-no-files-found: error
          retention-days: 30
